Dr. Dhiraj Patar, a man of many talents, has been active on the field of Literature and Journalism for about seven years now.
<br>
<h2>Specialization:</h2>
<ul>
  <li>Early History of Assamese Literature.</li>
  <li>Modern Assamese Literature.</li>
  <li>Folklore and Cultural studies.</li>
</ul>
<br>
<h2>Work Profile:</h2>
<ul>
  <li>Acting Chief Editor of Tiwa monthly newspaper, PATHRA.</li>
  <li>Editor of quarterly literary magazine, RODALI.</li>
  <li>Associated to the compilation of Famous Assamese Dictionary, HAMKOSHA.</li>
  <li>Former Executive Editor of a monthly magazine called NINAD.</li>
  <li>Former R.J of Radio Luit.</li>
</ul>
<br>
<h2>Published Books:</h2>
<ul>
  <li>Assamese Poetry- Kiman Maram Karile Tumi Muk Bhal Paba.</li>
  <li>Assamese Poetry- Bhalpowar Amuthi Xoish.</li>
  <li>Tiwa Loka Sanskritir Abhash.</li>
  <li>Assamiya Sahiyatar Bisar aru Bisleshan(edited).</li>
</ul>
