<p style="font-size:20px;">It is for information to all interested researchers/ academicians that Vol.-III, Issue-II of Sampriti, a double blind peer reviewed national research journal of Humanities and Social Sciences will be published in the month of September, 2017. Therefore, we would like to invite all the interested researchers / academicians from various disciplines to contribute research papers for the ensuing issue of Sampriti. The last date for submission of manuscript is 15th August, 2017. Authors are requested to strictly follow the guidelines.</p>
<br><br><br>
<h2>Guidelines for the authors—-></h2>

<ol style="font-size:20px;">
  <li> Write a self declaration. Mention that the paper is original and unpublished.</li>
  <li> Write a title on the top of the page in centre and mention about the authors designation, correspondence address, telephone no, fax no, email id etc.</li>
  <li> An abstract of maximum 150 words must be enclosed with the paper and mention 3 to 6 key words to specify the article.</li>
  <li> Manuscript should be typed in double line spacing on one side of the paper (A4 size) and leave one inch in every side of the page. Write the article in page maker software in Times new Roman or Geetanjalilight font (English 12 size and Assamese 14 size). Send a hard copy and a soft copy of the manuscript.</li>
  <li>Author must follow the following steps for writing the research article –<br>
    &emsp;&emsp; Introductions, area of research, methodology, findings, conclusions/ recommendations etc. and specify it in the paper.</li>
  <li>In case of citation author has to mark the proper citation side. For any kind of quotation please follow the quotation mark (“.”) and mention the citation in the body of the text like (Patar 30).</li>
  <li>Author should mention properly the references and Bibliography in MLA Seventh Edition method. For example-</li>
  <br><br>
<ol>
<br><br>
<h2>Book:</h2>
<ul>
  <li>Patar, D. Tiwa Loko Sanskritir Abhash. Guwahati: Bandhav, 2013. Print.</li>
</ul>
<br><br>
<h2>Chapter in Book/ article:</h2>
<ul>
  <li>Patar, D. “Tiwa Sakalar Paniyo”, in Tiwa Loko Sanskritir Abhash.by Dhiraj Patar.  Guwahati: Bandhav, 2013. Print.</li>
  <li>Patar. D. ‘‘Tiwa Lokageet,’’ in Asomar Lokasanskritir Nirbachita Prabandh. Edited by Baijayanta Keot. Guwahati: Eastern Book House, April, 2016. Print.</li>
</ul>
<br><br>
<h2>Edited Book:</h2>
<ul>
  <li>Patar, D. (ed.). Asomiya Sahityar Bisar Aru Bishlehhan. Guwahati: Sampriti, 2015. Print. </li>
</ul>
<br><br>
<h2>Ph.D. Thesis:</h2>
<ul>
  <li>Patar, D. Morigaon Jilar Utsav-Anushthan : Eti Samikshatmak Adhyayan. Ph.D. Thesis. Gauhati University: India, 2013. Unpublished.</li>
  <li>Patar, D. “Marriage System of the Gaors.” In Marriage Customs of Various Ethnic Groups of Assam. Edited by Putali Kayastha, p. 218. Print.</li>
</ul>
<br><br>
<h2>Processing Fee:</h2>
<br>
<p>On acceptance of the research papers/ review articles a publication fee will be charged from the corresponding authors. The correspondent author will get notify through email from Sampriti.</p>
